<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-cookies.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js"></script>

</head>
<body ng-app="textTwilio">
<div ng-controller="indexCtrl">
  <div style="height: 50px">
    <a style="float: right" href="#/login" ng-click="logout()">Login  </a>
    <a style="float: right" href="#/login" ng-click="logout()">Logout</a>
  </div>
  <ng-view></ng-view>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>


<script src="scripts/app.js"></script>

<script src="scripts/controllers/indexCtrl.js"></script>
<script src="scripts/controllers/loginCtrl.js"></script>
<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/splashCtrl.js"></script>

<script src="scripts/services/firebaseService.js"></script>
<script src="scripts/services/authService.js"></script>
<script src="scripts/services/contactService.js"></script>
<script src="scripts/services/messageService.js"></script>
</body>
</html>
