<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="icons/css/pencil.css"/>
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css"/>
  <link rel="stylesheet" href="style.css"/>
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>

</head>
<body ng-app="textTwilio">
<div class="app" ng-controller="indexCtrl">
  <div class="header">
    <button class="brandbtn" ng-click="homeOrSplash(loggedin)"><p class="brand" >megaPhone</p></button>
    <a class="loginlink" href="#/login" ng-click="logout()" ng-show="loggedin">Logout</a>
    <a class="loginlink" href="#/login" ng-click="logout()" ng-show="!loggedin">Login</a>
  </div>

  <div class="mainView">
    <ng-view></ng-view>
  </div>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.js"></script>


<script src="scripts/app.js"></script>

<script src="scripts/controllers/indexCtrl.js"></script>
<script src="scripts/controllers/loginCtrl.js"></script>
<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/splashCtrl.js"></script>

<script src="scripts/services/firebaseService.js"></script>
<script src="scripts/services/authService.js"></script>
<script src="scripts/services/contactService.js"></script>
<script src="scripts/services/messageService.js"></script>
</body>
</html>
