html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header {
  height: 50px;
  padding: 10px 40px;
  box-sizing: border-box;
  background: rgba(60, 99, 178, 1);
}

.brand {
  float: left;
  color: white;
  font-size: 2em;
  display: inline-block;
  margin: 0;
}

.brandbtn {
  border: none;
  background: none;
  margin: 0;
}

.loginlink {
  position: absolute;
  right: 10px;
  top: 15px;
  text-decoration: none;
}

.loginlink:hover {
  color: rgba(255, 143, 129, 1)
}

.loginlink:visited {
  text-decoration: none;
  color: white;
}

.loginlink:visited:hover {
  color: rgba(255, 143, 129, 1)
}

.app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mainView {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background: linear-gradient(rgba(154, 154, 154, .4), rgba(154, 154, 154, .4)), url(/imgs/bricks.jpg) no-repeat center center;
}

.card {
  margin: 0 auto;
  width: 60%;
  min-width: 430px;
  background: rgba(60, 99, 178, .9);
  color: white;
  padding-top: 0px;
  padding-bottom: 20px;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  overflow: auto;
}

.splashCard {
  height: 370px;
}

.sentCard {
  height: 440px;
}

.loginCard {
  height: 250px;
}

.registerCard {
  height: 458px;
}

.toolbarTitle {
  margin: 0;
}

.toolbar {
  height: 26px;
  padding: 10px;
  color: rgba(60, 99, 178, 1);
  background: white;
  margin-bottom: 10px;
}

.shadow {
   -moz-box-shadow: 3px 3px 5px 2px #ccc;
   -webkit-box-shadow: 3px 3px 5px 2px #ccc;
   box-shadow: 3px 3px 5px 2px #ccc;
 }

.darkShadow {
  -moz-box-shadow: 3px 3px 5px 2px #444;
  -webkit-box-shadow: 3px 3px 5px 2px #444;
  box-shadow: 3px 3px 5px 2px #444;
}

.splashTextArea {
  color: rgba(60, 99, 178, .7);
  background: white;
  width: 80%;
  border: 0px;
  font-size: 1.5em;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px;
}

.input {
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  color: rgba(60, 99, 178, .7);
}

.btn {
  padding: 10px 20px;
  font-size: 1.5em;
  background: rgba(255, 143, 129, 1);
  color: white;
  border: .5px solid white;
}

.btn-default {
  background: white;
  color: #989A9A;
}

.btn:hover {
  color: rgba(60, 99, 178, 1)
}

.link {
  text-decoration: none;
}

.link:hover {
  color: rgba(60, 99, 178, 1)
}

.link:visited {
  text-decoration: none;
  color: white;
}

.link:visited:hover {
  color: rgba(60, 99, 178, 1)
}

.form {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-container {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}

.pull-right {
  float: right;
  margin-right: 20px;
}

.form-row {
  text-align: right;
}

.messageRow {
  background: rgba(117,144,200,1);
  padding: 10px;
  box-sizing: border-box;
  height: 460px;
}

.messageForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.message {
  margin: 0;
  min-width: 100px;
}

.msgLabel {
  color: white;
}

.messageStream {
  color: white;
  padding: 0px 20px;
  box-sizing: border-box;
  width: 25%;
  background: rgba(60, 99, 178, 1);
  border-right: solid 1px rgba(117,144,200,1);
}

.messageHead {
  border-bottom: solid 1px rgba(117,144,200,1);
  padding: 12px;
}

.messageItem {
  clear: both;
  margin-bottom: 10px;
}

.messageBody {
  float: left;
}

.messageDate {
  font-size: .5em;
  float: right;
}

.contactContainer {
  padding: 20px;
  box-sizing: border-box;
  background: rgba(60, 99, 178, 1);
  width: 75%;
}

.newContact {
  color: white;
  position: relative;
  border-bottom: solid 1px rgba(117,144,200,1);
  font-size: 1em;
}

.contactInput {
  font-size: 1em;
  background-color: rgba(117,144,200,.5) !important;
  color: white !important;
  margin-bottom: 5px;
}

.editList {
  background: rgba(117,144,200,1);
}

.edit {
  font-size: 1em;
}

.editinput {
  background-color: rgba(117,144,200,1);
  color: white;
  width: 70%;
}

.editbtn {
  float: right;
}

.contactList {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.contactBox {
  padding: 5px 10px;
  width: 150px;
  position: relative;
  margin: 5px;
  background: rgba(117, 144, 200, 1);
  color: white;
  overflow: hidden;
  white-space: nowrap;
}


.pencil {
  position: absolute;
  top: 5px;
  right: 5px;
}

.pencil:hover {
  color: rgba(255, 143, 129, 1)
}

.pencil:visited:hover {
  color: rgba(255, 143, 129, 1)
}

.menu {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 1.5em;
}

.menu:hover {
  color: rgba(255, 143, 129, 1)
}

.menu:visited:hover {
  color: rgba(255, 143, 129, 1)
}

.editModal {
  width: 60%;
  height: 30%;
  margin: auto;
}

.adminContainer {
  height: 100%;
  width: 100%;
  background: rgba(60, 99, 178, 1);
}

.contactText {
  display: block;
}

.bottomContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contactPhone {
}

@media (min-width: 876px) {
  .messageForm {
    flex-direction: row;
  }

  .messageRow {
    padding: 20px;
    height: auto;
  }
}

