<div class="container">
  <div ng-class="{'loginCard':login, 'registerCard':!login}" class="card shadow">

    <div class="toolbar">
      <h2 class="toolbarTitle">Welcome!</h2>
    </div>
    <div class="form-container">

      <form ng-submit="authEmail(auth)" ng-show="login">
        <div class="form-row">
          <label for="loginemail">Email</label>
          <input id="loginemail" placeholder="john@doe.com" class="input form" ng-model="auth.email" type="text"/>
        </div>
        <div class="form-row">
          <label for="loginpw">Password</label>
          <input id="loginpw" placeholder="password1" class="input form" ng-model="auth.password" type="password"
                 required/>
        </div>
        <button type="submit" ng-show="register"></button>
      </form>


      <form ng-submit="createUser(user)" ng-show="register">
        <div class="form-row">
          <label for="email">Email</label>
          <input placeholder="john@gmail.com" id="email" class="input form" ng-model="user.email" type="text" required/>
        </div>
        <div class="form-row">
          <label for="password">Password</label>
          <input placeholder="john1" id="password" class="input form" ng-model="user.password" type="password" required/>
        </div>
        <div class="form-row">
          <label>First Name</label>
          <input placeholder="John" class="input form" ng-model="user.firstName" type="text"/>
        </div>
        <div class="form-row">
          <label>Last Name</label>
          <input placeholder="Doe" class="input form" ng-model="user.lastName" type="text"/>
        </div>
        <div class="form-row">
          <label>Phone #</label>
          <input placeholder="808-555-8080" class="input form" ng-model="user.phone" type="text" required/>
        </div>

        <button type="submit" ng-show="login"></button>
      </form>
    </div>
    <button class="btn btn-default pull-right" type="button" ng-click="registerToggle()" ng-show="login">Register
    </button>
    <button class="btn pull-right" ng-click="authEmail(auth)" ng-show="login">Log In</button>

    <button class="btn btn-default pull-right" type="button" ng-click="registerToggle()" ng-show="register">Cancel
    </button>
    <button class="btn pull-right" ng-click="createUser(user)" ng-show="register">Register New User</button>
  </div>
</div>