<form ng-submit="authEmail(auth)" ng-show="login">
  <label>Email</label>
  <input ng-model="auth.email" type="text"/>
  <label>Password</label>
  <input ng-model="auth.password" type="password" required/>
  <button type="button" ng-click="registerToggle()">Register</button>
  <button type="submit">Log In</button>
</form>


<form ng-submit="createUser(user)" ng-show="register">
  <label>Email</label>
  <input ng-model="user.email" type="text" required/>
  <label >Password</label>
  <input ng-model="user.password" type="password" required/>
  <label >First Name</label>
  <input ng-model="user.firstName" type="text"/>
  <label >Last Name</label>
  <input ng-model="user.lastName" type="text"/>
  <label >Phone Number</label>
  <input ng-model="user.phone" type="text" required/>
  <button type="submit">Register New User</button>
  <button type="button" ng-click="registerToggle()">Cancel</button>

</form>